body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, sans-serif;
    background-color: #121a33;
}

a {
    text-decoration: none;
}

.custom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    position: relative;
    width: 97%;
    height: 80vh; /* Height remains constant */
    gap: 2px;
    overflow: hidden; /* Prevent content from spilling out */
    transition: all 0.3s ease; /* Smooth resizing of container */
    border-radius: 11px;
}

.card {
    flex: 1; /* Default width: equally share the container */
    height: 100%; /* Fixed height */
    background-size: cover;
    background-position: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    filter: brightness(0.3); /* Default silhouette effect */
    transition: flex 0.3s ease, filter 0.3s ease; /* Smooth resize effect */
    display: flex;
    align-items: flex-end; /* Align text at the bottom */
}

.card-content {
    background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0)
    );
    color: white;
    padding: 20px;
    opacity: 0; /* Hidden by default */
    transform: translateY(20px); /* Slightly offset down */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Hover effect for cards */
.card:hover {
    flex: 2; /* Expand only width */
    filter: brightness(1); /* Brighten the hovered card */
    z-index: 2; /* Bring it to the front */
}

/* Shrink other cards dynamically */
.card:not(:hover) {
    flex: 1; /* Allow other cards to shrink proportionally */
    filter: brightness(0.3); /* Dim the other cards */
    z-index: 1; /* Push them back */
}

/* Reveal text on hover */
.card:hover .card-content {
    opacity: 1;
    transform: translateY(0); /* Slide up into place */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack cards vertically */
        width: 100%;
        height: auto;
        gap: 5px;
    }

    .card-content {
        opacity: 1; /* Always visible on mobile */
        transform: translateY(0); /* No animation on mobile */
    }

    .card {
        flex: none;
        height: auto;
        min-height: 250px;
        width: 100%;
    }

    .card:not(:hover) {
        filter: brightness(1); /* Dim the other cards */
    }
}

#loadingText {
    display:none;
}

::-webkit-scrollbar {
    display:none;
}

.header {
    text-align: center;
    margin: 10px 0;
    position: relative;
    width: 97%;
}

/* Line with the image in the center */
.line-with-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.line {
    flex: 1;
    height: 2px;
    background-color: #CEC03A;
}

.center-image {
    width: 80px; /* Adjust as needed */
    height: 80;
    object-fit: cover;
}